<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configuración de conexión a la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/soporte_OS?createDatabaseIfNotExist=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">davidangel95</property>
        
        <!-- Configuración de dialecto MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Configuración de la creación de tablas -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Configuración de visualización de consultas SQL en la consola -->
        <property name="hibernate.show_sql">true</property>
        
        
        <mapping class="entidades.Cliente"/>
        <mapping class="entidades.Tecnico"/>
        <mapping class="entidades.Especialidad"/>
        <mapping class="entidades.Incidente"/>
    </session-factory>
</hibernate-configuration>